/* Ajout des classes CSS */

body,html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
* {
    box-sizing: border-box;
}
.bg-img{
    /* ajouter l'image */
    background-image: url("Campus_ENSIBS.jpg");
    min-height: 380px;

    /*Centrer et redimensionner l'image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container { /* Ajouter des styles au conteneur de formulaire */
    position:absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}

/* Champs de saisie */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
/* Définir le style pour le boutons d'envoi */
.btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.btn:hover {
  opacity: 1;
}
/* Style générique du corps de texte */
p,h3{
    color: dimgray;
    font-size:18px
}
.button-style {
            background-color: green; /* Couleur de fond */
            border: nome; /* Pas de bordure */
            color: white; /* Couleur du texte*/
            padding: 15px 32px; /* Espacement interne*/
            text-align: center; /*alignement texte*/
            text-decoration: none; /*pas de soulignement*/
            display: inline-block; /*type affichage*/
            font-size: 18px; /*taille police*/
            margin: 4px 2px; /*marges externes*/
            cursor: pointer; /* forme du curseur */
            font-weight: bold; /*applique le style gras */
        }

a{
    color: green;
    font-size: 18px;
}
span{
    color: dimgray;
}
.section1{
   background-color:whitesmoke;color: dimgray; width: 200px;
    height: auto; 
    font-size:18px;
    padding:20px;
    margin:10px; 
}
.section2{
    background-color:whitesmoke;color: green;font-weight:bold; 
    height: auto; 
    font-size:18px;
    width: 200px;
    padding:20px;
    margin:10px; 
}
.main {
    display: flex;
    flex: 1;  /* Ajouter une nouvelle section */
    width: 70%; /* Ajouter des marges de 15% de chaque cotés */
    margin: 20px auto;
    }   
    .content {
        width: 80%;
        padding: 20px;
    }
    .sectionleft1 { /* Section principale */
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    }
    .sectionleft2 { /* Sous section */
    background-color: #f0f0f0;
    width: 230px;
    padding: 20px;
    margin: 10px;
    }
    .containerleftright {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 5px auto; /* Centre le contenu horizontalement */
    }
    .left, .right {
        width: 60%;
        padding: 5px;
    }
    .button-container {
        margin: 20px 0;
        width: 70%;
        margin: 5px auto; /* Centre le contenu horizontalement */
    }
    .containerceremony {
        width: 70%;
        margin: auto; /* Centre le contenu horizontalement */
    }
    .button-ceremony {
        background-color: green; /* Couleur de fond du bouton */
        color: white; /* Couleur du texte */
        border: 5px solid black; /* Bordure dorée */
        padding: 15px 40px; /* Espacement intérieur */
        text-align: center; /* Alignement du texte */
        font-size: 18px; /* Taille de la police */
        font-weight: bold; /* Poids de la police */
        margin: 10px 60px; /* Marges */
        border-radius: 10px; /* 10:Coins arrondis */
        box-shadow: 0 10px 15px green; /* 0:effet, ombre */
        font-family: 'Times New Roman'; /* Typographie */
    }
    .container-Media {
        width: 80%;
        margin: auto; /* Centre le contenu horizontalement */
    }
    .video-container {
        display: flex;
        justify-content: space-around; /* espacement entre les vidéos */
        align-items: center;
        margin-top: 20px;
    }
    .video{
        flex: 1;
        margin: 10px;
    }
    iframe { /*Balise pour intégrer la vidéo Youtube, avec des attributs : */
        width: 100%;
        height: 350px;
    }
.container-information {
width: 80%;
padding: 2px auto; /* espacement interne bordure */
margin: 30px;
}
.table, th, td { /* création d'un tableau */
border: 1px solid black;
border-collapse: collapse; /* bordures adjacentes des cellules du tableau*/
}
th {
    text-align: left;
}
/*Table 2*/
caption{ 
    caption-side: top; /* légende au-dessus du tableau*/
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: green;
    }
    /*Styles spécifiques pour le troisième tableau*/
.third-table{ 
    border: 1px solid;
    border-collapse: collapse;
    }
.third-table tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}
.third-table th:nth-child(even), .third-table td:nth-child(even) { /*nth relative à la supperpossion des couleurs*/
    background-color: rgba(150, 212, 212, 0.4);
}
/* element avec id "myfooter" */
#myfooter {
    background-color: lightblue;
    color: black;
    padding: 30px;
    text-align: center;
}
/* pied de page avec bouton */
#myfooterJS {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase; /* tranforme le texte en majuscules */
    letter-spacing: 2px;
}
#myfooterJS:hover { /* styles lorsque l'élément "myfooter" est survolé */
    color: green;
}
#button-myfooter { 
    display: block; /* afficher en tant que bloc de fond pour occuper toute la larguer */
    margin: 20px auto;
    cursor: pointer;
    background-color: lightblue; /* couleur de fond du bouton */
    color: black; /* couleur du texte */
    border: 5px solid black;  /* bordure  */
    padding: 15px 40px; /* espacement interieur */
    text-align: center;  /* Alignement du texte */;
    font-size: 22px;  /* Taille de la police */
    font-weight: bold;  /* Poids de la police */
    font-family: 'Times New Roman'; /*  Typographie */;
}
#button-myfooter:hover {
    background-color: green;
}
/* style pour l'iframe */
#Iframe_ENSIBS {
    border: 2px solid #2c3e50;
    border-radius: 5px; /*coins arrondis */
}
#Iframe_ENSIBS_a {
    color: #2980b9; /* Couleur du text des liens*/
    text-decoration: none; /* supprime la décoration par défaut (soulignement)*/
    font-weight: bold; /* texte en gras */
}
#Iframe_ENSIBS_a:hover {
    text-decoration: underline; /*soulignée au survol*/
}
#button-myfooter-informations {
    background-color: lightblue; /* Couleur de fond du bouton */
}
#button-myfooter { 
    background-color: lightblue;  /* couleur de fond du bouton */
    color: black;                 /* couleur du texte */
    border: 5px solid black;      /* bordure  */
    padding: 15px 40px;             /* espacement interieur */
    text-align: center;             /* Alignement du texte */
    font-size: 18px;                /* Taille de la police */
    font-weight: bold;              /* Poids de la police */
    margin: 10px ;                  /* Marges */
    border-radius: 10px;            /* 10:coins arrondis */
    font-family: 'Times New Roman'; /*  Typographie */
}
#button-myfooter-informations {
    background-color: green; /* Couleur de fond du bouton */
}